@model WebApplicationBanco.Models.Tarjetum
@{
    ViewData["Title"] = "Home Page";
}
@{

}
<div class="text-center">
    <h1 class="display-4">Banco Test</h1>
</div>

<form id="log" action="@Url.Action("LogTarjetaNumero","Home")" method="post">
    <label>Ingrese su tarjeta:</label>
    <br />
    <input type="number" name="tarje" id="tarje" placeholder="credit card" min="1000000000000000" max="9999999999999999" />
    <br />
    <input type="submit" value="Aceptar" />
    <input type="submit" value="Salir" onclick="window.close();"/>
</form>



