@model WebApplicationBanco.Models.Tarjetum
@{
    ViewData["Title"] = "Home Page";
}
@{

}
<div class="text-center">
    <h1 class="display-4">Banco Test</h1>
</div>

<form id="log" action="@Url.Action("LogTarjetaNumero","Home")" method="post">
    <label>Ingrese su tarjeta:</label>
    <br />
    @Html.TextBoxFor(m => m.NumeroTarjeta)
    <br />
    <input type="submit" value="Submit" />
</form>



