@model WebApplicationBanco.Models.Cuentum
@{
    ViewData["Title"] = "_Balance Page";
    var user = TempData["user"];
}
<h4>Cuenta</h4>
<hr />

@*<div class="row">
    <div class="col-md-5">
        <form asp-action="_Balance">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCuenta" />
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTarjetaNavigation.vencimiento" class="control-label"></label>
                <span asp-validation-for="IdTarjetaNavigation.vencimiento" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>*@

@using(Html.BeginForm("BalanceBack", "Home", user, FormMethod.Post))
{
    <input type='submit' value='Atras' />
}
<input type="submit" value="Salir" onclick="window.close();" />
<div>
    <a asp-action="Index">Back to List</a>
</div>

