@model Tarjetum;

@{
    ViewData["Title"] = "Bank Page";
}

<div class="text-center">
    <h1 class="display-4">PIN</h1>
</div>

<form id="log" action="@Url.Action("LogTarjetaPIN", "Home")" method="post">
    <label>Ingrese su PIN:</label>
    <br />
    <br />
    <input type="number" id="pin" name="pin" placeholder="4-PIN" min="1000" max="9999" />
    <br />
    <br />
    <input type="submit" value="Aceptar" />
    <input type="reset" value="Limpiar" />
    <input type="submit" value="Salir" onclick="window.close();" />
</form>
