@model WebApplicationBanco.Models.Cuentum;
@{
    ViewData["Title"] = "Extraccion Page";
}
<h4>Extracción: </h4>
<hr />
<div class="row">

    <br />
    <br />
    <label>hdfh</label>
    <br />
    <br />

</div>