@model Cuentum;

@{
    ViewData["Title"] = "Operacion Page";
    Cuentum user = (Cuentum)TempData["user"];
    
}
<div class="text-center">
    <h1 class="display-4">Operacion de cuenta </h1>
</div>

<form id="log" method="post">
    <label>Monto: @Model.Monto</label>
    <br />
    <br />
    @Html.ViewData.Model.Monto.ToString();

    <br />
    <br />
    <input type="button" value="Deposito" name="action:dep" action="@Url.Action("_Deposito", "Home" )">
    <input type="button" value="Extracción" name="action:ext" action="@Url.Action("_Extraccion", "Home")">
</form>

