@model Cuentum;

@{
    ViewData["Title"] = "Operacion Page";
    var user = TempData["user"];

}
<div class="text-center">
    <h1 class="display-4">Operacion de cuenta </h1>
</div>

<label>Monto: @Model.Monto</label>
<br />
<br />
<label>Tarjeta: @Model.IdTarjetaNavigation.NumeroTarjeta</label>
@*@Html.ViewData.Model.Monto.ToString();*@

<br />
<br />
<label>Extraccion</label>
<br />
@using (Html.BeginForm("Extraccion", "Home", user, FormMethod.Post))
{
    <input type='submit' value='Extraccion' />
}
<br />
<label>Balance</label>
<br />
@using (Html.BeginForm("Balance", "Home", user, FormMethod.Post))
{
    <input type='submit' value='Balance' />
}


