@model Cuentum;

@{
    ViewData["Title"] = "Operacion Page";
    ViewBag.monto = "valor";
}
<div class="text-center">
    <h1 class="display-4">Operacion de cuenta </h1>
</div>

<form id="log" action="@Url.Action("name", "Home")" method="post">
    <label>Monto:</label>
    <br />
    <br />
    @*@Html.ViewContext(c => c.Monto)*@
    @Html.TextBoxFor(c => c.Monto)
    <br />
    <br />
    <input type="submit" value="dep" name="action:dep"> Depositar <input />
    <input type="submit" value="ext" name="action:ext"> Extraer <input />
</form>

